# Игнорирование виртуального окружения
venv/

# Игнорирование файла конфигурации
requirements.txt

# Игнорирование файлов логов
*.log

# Игнорирование кэш-файлов Python
__pycache__/
*.py[cod]

# Игнорирование системных файлов
.DS_Store
Thumbs.db
